@font-face {
  font-family: "CirceRounded";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/CirceRounded-ExtraBold/CirceRounded-ExtraBold.eot");
  src: url("../fonts/CirceRounded-ExtraBold/CirceRounded-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CirceRounded-ExtraBold/CirceRounded-ExtraBold.woff")
      format("woff"),
    url("../fonts/CirceRounded-ExtraBold/CirceRounded-ExtraBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "CirceRounded";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/CirceRounded-Bold/CirceRounded-Bold.eot");
  src: url("../fonts/CirceRounded-Bold/CirceRounded-Bold.eot")
      format("embedded-opentype"),
    url("../fonts/CirceRounded-Bold/CirceRounded-Bold.woff") format("woff"),
    url("../fonts/CirceRounded-Bold/CirceRounded-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CirceRounded";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/CirceRounded/CirceRounded.eot");
  src: url("../fonts/CirceRounded/CirceRounded.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CirceRounded/CirceRounded.woff") format("woff"),
    url("../fonts/CirceRounded/CirceRounded.ttf") format("truetype");
}

@font-face {
  font-family: "CirceRounded";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/CirceRounded/CirceRounded.eot");
  src: url("../fonts/CirceRounded/CirceRounded.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/CirceRounded/CirceRounded.woff") format("woff"),
    url("../fonts/CirceRounded/CirceRounded.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0;
  font-family: CirceRounded;
}
body {
  width: 100%;
  height: 100vh !important;
}
.main {
  background-color: #d8e2dc;
}
  .parent-content {
    width: 100%;
    height: 100vh !important;
    .left-col {
      .top-row {
        width: 90%;
        margin-top: 45px !important;
        margin-left: 35px !important;
        background-image: linear-gradient(to bottom right, #6e95e4, #537ac5);
        border-radius: 5px;
        height: 17rem;
        ul {
          list-style: none;
          padding-top: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          li {
            padding-bottom: 13px;
            a {
              display: flex;
              align-items: center;
              text-decoration: none;
              color: white;
              font-size: 17px;
              font-weight: 600;
              
              img {
                margin-right: 10px !important;
              }
            }
          }
        }
      }
      .bottom-row {
        position: relative;
        width: 90%;
        margin-top: 45px !important;
        margin-left: 40px !important;

        .centered {
          position: absolute;
          bottom: 15%;
          left: 22%;
          font-weight: 500;
          color: #818fac;
          font-size: 18px;
        }
        .bottom-right {
          color: #f6eedb;
          position: absolute;
          bottom: 22%;
          right: 18%;
          font-size: 39px;
          font-weight: 400;
        }

        .bottom-left {
          color: #f6eedb;
          position: absolute;
          bottom: 10%;
          left: 5%;
          font-size: 27px;
          writing-mode: vertical-rl;
          font-weight: 700;
        }
      }
    }
    .right-col {
      .cards-content {
        display: flex;
        flex-direction: column;
        margin-top: 45px !important;
        margin-right: 40px !important;
        background-color: white;
        border-radius: 5px;
        height: 530px;
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          padding: 0px 10px;
          border-radius: 5px;
          background-image: linear-gradient(to right, #f3b956, #f3903f);
          color: #f6eedb;
          img {
            width: 17px;
          }
        }
        .card-group {
          height: 470px;
          .cards {
            display: flex;
            align-content: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .card-item {
              width: 30% !important;
              height: auto;
              .card {
                height: auto;
                border-radius: 5px;
                border: 2px solid #b2bacd;
                .card-body {
                  padding: 0.5rem 1rem !important;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                }
                .close-icon {
                  display: flex;
                  justify-content: flex-end;
                  img {
                    width: 30px;
                  }
                }
                .card-title {
                  padding: 10px 0;
                  color: #5873a8;
                }
                .btn {
                  margin-top: 10px !important;
                  border-radius: 10px;
                  padding: 9px 0;
                  background-image: linear-gradient(to right, #f3b956, #f3903f);
                  border: 1px solid #f3b956;
                  color: #f6eedb;
                  &:focus {
                    outline: none;
                  }
                }
                p {
                  font-weight: 700;
                  color: #a8b5d7;
                }
              }
            }
          }
        }
      }
    }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .parent-content .left-col .bottom-row .bottom-right {
    font-size: 37px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .btn {
    margin-top: 12px !important;
    padding: 7px 0!important;
    font-size: 13px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .card-title {
    font-size: 18px!important;
  }
  .parent-content .left-col .bottom-row .bottom-left {
    font-size: 25px!important;
  }
  .parent-content .right-col .cards-content {
    height: 500px!important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .parent-content .left-col .bottom-row .bottom-left {
    font-size: 21px!important;
  }
  .parent-content .left-col .bottom-row .centered {
    font-size: 15px!important;
  }
  .parent-content .left-col .bottom-row .bottom-right {
    font-size: 31px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .card-body {
    padding: 0.5rem !important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .card-title {
    font-size: 16px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    p {
    font-size: 15px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .btn {
    font-size: 12px!important;
    margin-top: 8px !important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .card-body {
    justify-content: unset!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .close-icon
    img {
    width: 25px!important;
  }
  .parent-content .right-col .cards-content .card-group .cards .card-item .card,
  .parent-content .right-col .cards-content .card-group .cards .card-item {
    height: auto!important;
  }
  .parent-content .right-col .cards-content {
    height: 470px!important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .main {
    height: 100vh!important;
  }
  .parent-content {
    height: unset !important;
    display: flex!important;
    flex-direction: column!important;
  }
  .left-col {
    display: flex!important;
    width: 100% !important;
  }
  .parent-content .left-col .bottom-row {
    display: flex!important;
  }
  .parent-content .left-col .bottom-row .bottom-left {
    bottom: 28%!important;
  }
  .parent-content .left-col .bottom-row .centered {
    bottom: 28%!important;
  }
  .parent-content .left-col .bottom-row .bottom-right {
    bottom: 35%!important;
  }
  .right-col {
    width: 100% !important;
  }
  .parent-content .right-col .cards-content {
    margin-right: 0 !important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .btn {
    font-size: 15px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .card-body {
    padding: 1rem !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .right-col {
    height: 100vh!important;
  }
  .left-col {
    display: flex!important;
    flex-direction: column!important;
  }
  .parent-content .left-col .bottom-row .bottom-right {
    bottom: 22%!important;
    font-size: 41px!important;
  }
  .parent-content .left-col .bottom-row .centered {
    font-size: 20px!important;
    bottom: 16%!important;
  }
  .parent-content .left-col .bottom-row .bottom-left {
    font-size: 28px!important;
    bottom: 15%!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .card-title {
    font-size: 15px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    p {
    font-size: 14px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .btn {
    font-size: 13px!important;
  }
}

/* Extra small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
  .main {
    height: 1550px!important;
  }
  .parent-content .left-col .bottom-row .bottom-left {
    font-size: 20px!important;
    bottom: 15%!important;
  }
  .parent-content .left-col .bottom-row .centered {
    font-size: 15px!important;
    bottom: 14%!important;
  }
  .parent-content .left-col .bottom-row .bottom-right {
    bottom: 21%!important;
    font-size: 32px!important;
  }
  .parent-content .right-col .cards-content .card-group .cards .card-item {
    width: 80% !important;
    margin-bottom: 40px !important;
  }
  .parent-content .right-col .cards-content,
  .parent-content .right-col .cards-content .card-group {
    height: auto!important;
  }
  .parent-content .right-col .cards-content .card-group .cards {
    margin-top: 40px !important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .btn {
    font-size: 16px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    .card-title {
    font-size: 20px!important;
  }
  .parent-content
    .right-col
    .cards-content
    .card-group
    .cards
    .card-item
    .card
    p {
    font-size: 16px!important;
  }
  .parent-content .left-col .top-row,
  .parent-content .left-col .bottom-row {
    width: 100%!important;
    margin-top: 45px !important;
    margin-left: 0px !important;
  }
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .parent-content .left-col .bottom-row .bottom-left {
    font-size: 17px!important;
    bottom: 12%!important;
  }
  .parent-content .left-col .bottom-row .centered {
    font-size: 12px!important;
  }
  .parent-content .left-col .bottom-row .bottom-right {
    font-size: 26px!important;
  }
  .parent-content .right-col .cards-content .card-group .cards .card-item {
    width: 90% !important;
    margin-bottom: 35px !important;
  }
}
